<h2>Payments</h2>

<ul>
  <li *ngFor="let payment of payments">
    <span>{{payment.paymentType}}</span> : {{payment.amount}} {{payment.createDate}}
  </li>
</ul>

<h3><i>Add payment</i></h3>
<form [formGroup]="addPaymentForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label class="center-block">Amount:
      <input class="form-control" formControlName="amount">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Payment type:
      <select class="form-control" formControlName="paymentType">
        <option *ngFor="let type of keys()" [value]="type">{{type}}</option>
      </select>
    </label>
  </div>

  <button type="submit">Save</button>
</form>
