@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

li {
	position: relative;
	list-style: none;
}
li.str:before {
	content: "*";
	position: absolute;
	left: -15px;
	bottom: -3px;
}