<h2>Cards</h2>

<table class="table">
    <thead>
        <tr>
            <th>Card number</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of cards">
            <td>{{card.cardNumber}}</td>
            <td>{{card.balance}}</td>
        </tr>
    </tbody>
</table>

<div >
    <div class="form-group">
        <label for="cardNumber">Add card:</label>
        <input class="form-control-static" type="text" name="cardNumber" id="cardNumber" [(ngModel)]="cardNumber" #cardToAddNumber="ngModel" placeholder="Card number"
               pattern="{{pattern}}"/>
        <app-show-errors [control]="cardToAddNumber"></app-show-errors>
    </div>

  <button (click)="addCard()" [disabled]="!cardToAddNumber.valid" class="btn btn-primary">Add</button>
</div>

